.slider-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    height: 500px;
    .titul {
        padding: 0 70px;
        code {
            -webkit-text-stroke: 1px #791386;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            font-size: 60px;
            @media all and (max-width: 768px) {
                font-size: 32px;
            }
        }
        -webkit-text-stroke: 1px #6DC8D8;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-size:42px;
        @media all and (max-width: 1024px) {
            padding: 0 50px;
        }
        @media all and (max-width:768px) {
            padding: 0 20px;
            font-size: 25px;
        }
    }
    .slider-box {
        position: absolute;
        width: 1000%;
        height: 100%;
        .slide-item {
            img {
                width: 500px;
                height: auto;
                margin: 0 20px;
            }
        }
    }
}